@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Regular'), local('Proxima-Nova-Regular'),
    url('proxima-nova/ProximaNova-Regular.woff2') format('woff2'),
    url('proxima-nova/ProximaNova-Regular.woff') format('woff'),
    url('proxima-nova/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    font-family: Proxima Nova, sans-serif;
    font-weight: 400;
}
